.carouselLeftButton {
  /*margin-top: 30px;*/
  width: 60px;
  /*height: 500px;*/
  z-index: 999;
  border: none;
  outline: 0;
  padding: 0;
  background-color: #fff;
  /*border-radius: 50%;*/
  opacity: 0.4;
  position: absolute;
}

.carouselLeftButton:hover {
  opacity: 0.8;
}

.carouselRightButton {
  /*margin-top: 30px;*/
  /*margin-right: 30px;*/
  width: 60px;
  height: 500px;
  z-index: 999;
  border: none;
  outline: 0;
  padding: 0;
  background-color: #fff;
  /*border-radius: 50%;*/
  opacity: 0.4;
  position: absolute;
}

.carouselRightButton:hover {
  opacity: 0.6;
}

.homepageCard {
  margin-top: 20px;
  padding: 30px;
  /*background: #ececec;*/
}