/*.leftButton{*/
/*  margin-left: 26px;*/
/*  border: none;*/
/*  outline: 0;*/
/*  padding: 0;*/
/*}*/
/*.carouselLeftButton {*/
/*  margin-top: 310px;*/
/*  border: none;*/
/*  outline: 0;*/
/*  padding: 0;*/
/*  height: 36px;*/
/*  width: 36px;*/
/*  transition: 3s;*/
/*  border-radius: 50%;*/
/*  background-color: #f8f8ff;*/
/*  color: #ff0000;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  z-index: 10;*/
/*  transform: translateY(-50%);*/
/*  text-align: center;*/
/*  font-size: 12px;*/
/*  opacity: 0.05;*/
/*}*/
.carouselLeftButton {
  margin-top: 119px;
  width: 42px;
  height: 42px;
  z-index: 999;
  border: none;
  outline: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.carouselLeftButton:hover {
  opacity: 0.6;
}

.carouselRightButton {
  margin-top: 119px;
  margin-right: 30px;
  width: 42px;
  height: 42px;
  z-index: 999;
  border: none;
  outline: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
}

.carouselRightButton:hover {
  opacity: 0.6;
}